<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>ClassReservation</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<section style="margin-left: 200px; margin-top: -450px;">
		<div class="row">
			<div class="cardteacher2">
				<img th:src="@{/images/profesor.jpg}" class="d-inline-block align-top"
					alt="">
				<div class="card-body">
					<h5 class="cardtitle"
						th:text="${teacher.person.firstName+' '+teacher.person.lastName}"></h5>
					<p class="card-text">
						<strong>Email:</strong> <span th:text="${teacher.person.email}"></span>
					</p>
					<p class="card-text">
						<strong>Phone:</strong> <span th:text="${teacher.person.phone}"></span>
					</p>
					<p class="card-text">
						<strong>Birth:</strong> <span th:text="${teacher.person.birth}"></span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="card text-center" style="width: 40rem;background-color:lightblue; margin-left:50rem; margin-top:-500px;position:absolute;">
		<div class="card-header">Scheadule</div>
		<div class="card-body">
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Start time</th>
						<th scope="col">Finish time</th>
						<th scope="col">Select</th>
					</tr>
				</thead>
				<tbody th:each="scheadule : ${scheadules}">
					<tr >
						<th id="day" scope="row" th:text="${scheadule.day}">1</th>
						<td id="starthour" th:text="${scheadule.starthour}"></td>
						<td id="finishhour" th:text="${scheadule.finishhour}"></td>
						<td><a class="btn btn-primary" th:data-date="${scheadule.day}" th:data-starthour="${scheadule.starthour}" th:data-finishhour="${scheadule.finishhour}" onclick="getComment(event)"></a></td>
						<td><label class="form-check-label" for="flexCheckChecked"></label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div>
		<input id="teacherID" style="margin-left: 500px;" th:field="${teacher.id}" disabled="disabled">
		<input id="mytext" style="margin-left: 500px;" disabled="disabled">
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script>
	function getComment(event){
		console.log(event);
		date=event.target.dataset.date;
		starthour=event.target.dataset.starthour;
		finishhour=event.target.dataset.finishhour;
		teacherID=document.getElementById("teacherID").value;
		console.log(teacherID);

		if (confirm('hola')) {
			  // Save it!
		fetch('/info/Reservations/confirm', {
		    method: 'POST',
		    headers: {
		      'Accept': 'application/json',
		      'Content-Type': 'application/json',
		      'Cookie': 'JSESSIONID=AA3997E225E874A992C07CD79CEEFCE7'
		    },
		    body: JSON.stringify({date, teacherID, starthour, finishhour})
		  })
		  .then(res => {
			  if (res.status == 200) {
			        window.location = '/perfil';
			    }
		    }
		  )
			} else {
			  // Do nothing!
			  console.log('Thing was not saved to the database.');
			}

		
	}
</script>
</html>