<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<main>
	<h2 class="scheduletitle">Recorded Schedules</h2>
	
	<section style="margin-left: 200px;">
		<div class="row">
			<div th:each="reservation : ${reservations}" class="col-sm-3"
				style="padding: 5px;">
				<div class="cardschedule">
					<img th:src="@{/images/scheadule.png}" class="imageschedule" alt="">
					<div class="card-body">
						<h5 class="cardtitle"
							th:text="${reservation.date}"></h5>
						<h5 class="cardtitle"
							th:text="${reservation.startTime}"></h5>
						<h5 class="cardtitle"
							th:text="${reservation.endTime}"></h5>
						<a th:href="@{'/conference' + ${reservation.id}}" id="buttomschedule" class="btn btnteacher">Enter Conference</a> 
<!-- 						<a th:href="@{'/info/Reservations/' + ${teacher.id}}" class="btn btnteacher">Reservar clase</a> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>